{{#each shows}}

<h1> Artist: {{artist}}, Date: {{date}} </h1>
  <h3>Start Time: {{start_time}} PM</h3>
  <h3>End Time: {{end_time}} AM</h3>
  <h3>Venue: {{venue}} </h3>

<button id={{id}} class="remove-show-button"> Remove Show</button>

<button id={{id}} class="attended-button"> Attended?</button>

{{/each}}
